@font-face {
    font-display: swap;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.d-inline {
    display: inline !important;
}

.post-heart-divider .divider {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.post-heart-divider {
    position: relative;
}

.f-none {
    float: none !important;
}

.d-inline-block {
    display: inline-block !important;
}

.w-100 {
    width: 100%;
}

.m-0 {
    margin: 0;
}

.d-block {
    display: block;
}

.btn i {
    vertical-align: bottom;
}

pre {
    overflow-x: auto;
}

nav i {
    vertical-align: top;
}

.brand-logo {
    height: 56px;
    overflow: hidden;
}

.brand-logo img {
    display: none;
}

@media only screen and (min-width: 601px) {
    .brand-logo {
        height: 64px;
    }

    .brand-logo img {
        display: inline;
        height: 56px;
        vertical-align: top;
        position: relative;
        top: 4px;
    }
}

.clear-both {
    clear: both;
}